.App {
  text-align: center;
}

.app-title {
  color: #ff0052;
  text-shadow: 0 0 12px #ff0052;
  border-bottom: 2px solid #ff0052;
  border-radius: 16px;
  width: fit-content;
  margin: 40px auto;
  padding: 5px;
  box-shadow: 0 0 8px #ff0052;
}
